{% extends 'base.html' %}
{% block title %} Welcome to Your Website {% endblock title %}

{% block body %}

   <h1>Welcome to Your Website</h1>

   {% if expiration_time_minutes and expiration_time_minutes > 0 %}
       <p>This password reset link will expire in {{ expiration_time_minutes }} minutes.</p>
   {% endif %}

   <a href="{{ reset_link }}"><button class="btn btn-danger">Password Reset</button></a>

   <p>In case the button is not working, please click on the below link to reset your password:</p>
   <a href="{{ reset_link }}">{{ reset_link }}</a>

   {% if expiration_time_minutes and expiration_time_minutes > 0 %}
       <p>If you don't reset your password within the specified time, you may need to request a new link.</p>
   {% endif %}

{% endblock body %}
